body {
    background-image: url(./foggy_birds_@2X.png);
}

img {
    width: 250px;
    height: 250px;
}

#pet-zone {
    display: flex;
    flex-flow: row wrap;
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 2em;
    border: solid .5em black;
    width: 375px;
    border-radius: 1em;
}

#dogs {
    background-color: rgb(154, 238, 143);
}

#cats {
    background-color:rgb(141, 166, 247);
}

#dinos {
    background-color: rgb(255, 131, 131);
}

#allPets {
    background-color: rgb(160, 155, 155);
}
